section {
  display: block;
  margin: 0;
  padding: 0;
}

article {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  margin-bottom: 16px;
}

.hotel {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
