:host {
  max-height: 100%;
}

hotel .hotel .hotel-ctn .hotel-description .hotel-name {
  line-height: 20px;
  line-height: 1.25rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  padding-right: 32px;
}

.hotel-description {
  position: relative;
  padding: 10px;
  text-align: left;
  padding: 16px;
  overflow: hidden;
}

.hotel-image {
  box-sizing: border-box;
  padding: 10px;
}

.yellowStar {
  padding-left: 20px;
  background-color: #fdba12;
  mask: url(/assets/icons/filters/star.svg) no-repeat center;
  -webkit-mask: url(/assets/icons/filters/star.svg) no-repeat center;
}

.hotel-price-detail {
  box-sizing: border-box;
}

.currency {
  font-size: 24px;
  font-weight: 400;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.price-label {
  font-size: 12px;
  text-align: center;
}

.seeHotelBtn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
}

@media (min-width: 600px) {
  .hotel-price-detail {
    height: 213px;
    border-left-style: dashed;
    border-left-width: 1.19px;
    border-left-color: grey;
    margin-left: auto;
    padding: 40px;
  }

  .hotel-image {
    max-height: 233px;
    width: 350px;
  }

  .hotel-description {
    padding: 10px;
  }

  .hotel-rank {
    padding: 5px;
  }

  .hotel-amenities {
    padding: 5px;
  }

  .price-label {
    max-width: 120px;
  }
}

@media (max-width: 599px) {
  .hotel-price-detail {
    width: 95%;
    padding: 15px;
    padding-bottom: 30px;
    border-top-style: dashed;
    border-top-width: 1.19px;
    border-top-color: grey;
  }

  .hotel-image {
    max-height: 100%;
    width: 100%;
  }

  .hotel-price {
    padding: 10px;
  }

  .seeHotelBtn {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
  }
}
