:host {
  max-height: 100%;
}

hotel .hotel .hotel-ctn .hotel-description .hotel-name {
  line-height: 20px;
  line-height: 1.25rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  padding-right: 32px;
}

.col-md-8.hotel-description {
  position: relative;
  text-align: left;
  padding: 16px;
  overflow: hidden;
}

.hotel-image {
  box-sizing: border-box;
  max-height: 100%;
  padding: 10px;
  max-height: 233px;
  width: 100%;
}

.hotel-price-detail {
  box-sizing: border-box;
  padding: 40px;
  height: 213px;
  border-left-style: dashed;
  border-left-width: 1.19px;
  border-left-color: grey;
  margin-left: auto;
}

.currency {
  font-size: 24px;
  font-weight: 400;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.price-label {
  font-size: 12px;
  max-width: 120px;
  text-align: center;
}

.seeHotelBtn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
}
